<div style="display: flex;">
  <div *ngIf="isConnected" style="flex-grow: 1">
    <div style="display: flex; gap: 1em; flex-direction: column;">
      <app-system-info [startupInfo$]="startupInfo$" [capacity$]="capacity$" [monitorUrl]="config.monitorUrl"></app-system-info>
      <app-round-info *ngIf="postRoundInfo$ | async as postRoundInfo" [postRoundInfo]="postRoundInfo" [scanProgress$]="scanProgress$"></app-round-info>
      <app-active-init-proofs *ngIf="hasActiveInitProofs$ | async" [activeInitProofs$]="activeInitProofs$"></app-active-init-proofs>
      <app-active-proofs *ngIf="hasActiveProofs$ | async" [activeProofs$]="activeProofs$"></app-active-proofs>
      <app-active-plots *ngIf="hasActivePlots$ | async" [plottingStatus$]="plottingStatus$"></app-active-plots>
    </div>
  </div>
  <div *ngIf="!isConnected && !config.isDisabled" style="flex-grow: 1">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  <div *ngIf="!isConnected && config.isDisabled" style="flex-grow: 1"></div>
  <div style="display: flex; align-items: center">
    <mat-slide-toggle color="primary" [checked]="!config.isDisabled" (change)="toggleIsDisabled()"></mat-slide-toggle>
    <button mat-icon-button color="warn" (click)="deleteDash()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
