<mat-card>
  <mat-card-header>
    <mat-card-subtitle style="word-break: break-word">{{plottingStatus.nodeId}}</mat-card-subtitle>
    <mat-card-title>{{plottingStatus.path}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      Units: {{plottingStatus.numUnits}} ({{plottingStatus.totalFiles.sizeInGib}} GiB)
    </div>
    <div>
      Speed: {{plottingStatus.speedFormatted}}
    </div>
    <div>
      File {{plottingStatus.currentFile.number}}/{{plottingStatus.totalFiles.number}}
    </div>
    <div>
      ETA current file: {{getRelativeEta(plottingStatus.currentFile.eta)}} ({{(plottingStatus.currentFile.progress * 100).toFixed(2)}}%)
    </div>
    <div>
      ETA total: {{getRelativeEta(plottingStatus.totalFiles.eta)}} ({{(plottingStatus.totalFiles.progress * 100).toFixed(2)}}%)
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar matTooltip="{{(plottingStatus.currentFile.progress * 100).toFixed(2)}}%" style="padding-bottom: 0.4rem" mode="determinate" [value]="plottingStatus.currentFile.progress * 100"></mat-progress-bar>
    <mat-progress-bar matTooltip="{{(plottingStatus.totalFiles.progress * 100).toFixed(2)}}%" mode="determinate" [value]="plottingStatus.totalFiles.progress * 100" class="last-progress-bar-in-card"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
