<div>
  System ({{monitorUrl}}):
</div>
<mat-chip-set role="list" style="padding-top: 0.2em">
  <mat-chip role="listitem">Name: {{(startupInfo$ | async)?.minerName}}</mat-chip>
  <mat-chip role="listitem">Version: {{(startupInfo$ | async)?.version}}</mat-chip>
  <mat-chip role="listitem">CPU: {{(startupInfo$ | async)?.cpu}}</mat-chip>
  <mat-chip role="listitem">Nonces: {{(startupInfo$ | async)?.threadConfig?.nonces}}</mat-chip>
  <mat-chip role="listitem">PoSt threads: {{(startupInfo$ | async)?.threadConfig?.postThreads}}</mat-chip>
  <mat-chip role="listitem">RandomX threads: {{(startupInfo$ | async)?.threadConfig?.randomXThreads}}</mat-chip>
  <mat-chip role="listitem">Capacity: {{capacity$ | async}}</mat-chip>
</mat-chip-set>
