<div style="padding: 0.5em">
  <form>
    <mat-form-field>
      <mat-label>Monitor URL</mat-label>
      <input matInput [(ngModel)]="monitorUrl" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field style="padding-left: 1em">
      <mat-label>Auth token</mat-label>
      <input matInput [(ngModel)]="authToken" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <button style="margin-left: 1em" mat-raised-button color="primary" (click)="connect()" [disabled]="isConnectButtonDisabled">Connect</button>
  </form>
  <div class="dash-container">
    <div *ngFor="let config of dashboardConfigs" style="display: flex;">
      <app-dash *ngIf="!config.isDisabled" [config]="config" style="flex-grow: 1"></app-dash>
      <div *ngIf="config.isDisabled" style="flex-grow: 1"></div>
      <div style="display: flex; align-items: center">
        <mat-slide-toggle color="primary" [checked]="!config.isDisabled" (change)="toggleIsDisabled(config)"></mat-slide-toggle>
        <button mat-icon-button color="warn" (click)="deleteDash(config)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
